$color-white: #ffffff;
$color-black: #000;
$color-primary: #4b7a90;

//text color PALLETE
$sub-text-dark: #55676a;
$main-text-dark: #2f3a3c;
$main-text-light: #eef5db;
$sub-text-light: #eef5db;

//message box palette
$other-msg-bg: #b8d8d8;
$my-msg-bg: #eef5db;
$msg-box-radius: 8px;

//chat head
$chat-head-bg: #e28e77;
$menu-list-hover: #f6d6d4;

//input colors
$input-border: #9ca9b1;
$input-focus: #fff;