@import "../variable.scss";

.inputField {
    border: 1px solid $input-border;
    border-radius: $msg-box-radius;
    background-color: transparent;
    font-family: 'Poppins', sans-serif;
    padding: 4px 8px;
    font-size: 12px;
    &::placeholder {
        font-weight: 340;
        font-family: 'Poppins', sans-serif;
    }
    &:focus {
        border: 1px solid $color-primary;
        outline: none;
    }
}