@import "../../sass/variable.scss";

.appSide {
    flex-grow: unset;
    width: 348px;
    height: 100vh
}

.listContainer {
    overflow-y: auto;
    height: calc(100vh - 64px);
}

.chatItemContainer {
    width: 100%;
    padding: 12px 24px;
    cursor: pointer;
    &:hover{
        background-color: $color-primary;
    }
}

.chatTitle {
    display: inline-block;
    vertical-align: bottom;
    margin-left: 12px;
    font-size: 14px;
    font-weight: 500;
    color: $main-text-dark;
}

.lastMessage {
    display: block;
    font-size: 12px;
    font-weight: 400;
    color: $main-text-dark;
    width: 246px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
