@import "../../sass/variable.scss";
@import "../../sass/mixins.scss";

.appMain {
  width: 70%;
  display: inline-block;
}

.messageListContainer {
  height: 98vh;
  overflow-y: auto;
  border-top: none;
  display: flex;
  flex-direction: column;
  padding: 12px 24px;
  padding-bottom: 52px;
  margin-bottom: 52px;
  @include chat-scrollbar
}

.singleMsg {
  display: block;
  &:first-of-type {
    margin-top: auto;
  }
}

.threadParent {
  margin: 10px 0;
  padding: 10px;
  width: 50%;
  border-radius: 8px;
  background-color: #ededed;
  display: flex;
  flex-direction: column;

  &.left {
    margin-right: auto;

    .threadReply {
      float: left;
      margin-left: 12px;
    }

  }
  
  &.right {
    margin-left: auto;
  
    .threadReply {
      float: right;
      margin-right: 12px;
    }

  }
}

