@import "../../sass/variable.scss";
@import "../../sass/mixins.scss";

.appMain {
  width: 70%;
  display: inline-block;
  overflow: auto;
}

.messageListContainer {
  margin-top: 62px;
  border: 1px solid #cce6ff;
  border-top: none;
  padding: 12px 24px;
  height: 100vh;
  padding-bottom: 52px;
  overflow: auto;
}

.singleMsg {
display: block;
}

.threadParent {
  margin: 10px 0;
  padding: 10px;
  width: 50%;
  border-radius: 8px;
  background-color: #ededed;
  &.left {
    float: left;
    .threadReply {
      float: left;
      margin-left: 12px;
      text-align: left;
    }
  }
  &.right {
    float: right;
    .threadReply {
      float: right;
      margin-right: 12px;
      text-align: right;
    }
  }
}