.avatarContainer {
  width: 20px;
  height: 20px;
  padding: 8px;
  border-radius: 50%;
  overflow: hidden;
  display: inline-block;
  vertical-align: text-top;
  color: #fff;
  text-align: center;
}

.avatarImg {
  object-fit: cover;
}

.avatarName {
  font-size: 14px;
  line-height: 18px;
}