@import "../../sass/variable.scss";

.msgContainer {
  display: block;
  max-width: 50%;
  width:max-content;
  border-radius: $msg-box-radius;
  padding: 8px;
  margin-bottom: 10px;
}

.otherMsg {
  text-align: left;
  background-color: $other-msg-bg;
  color: $main-text-dark;
  .msgSender, .msgTimeStamp {
    color: $sub-text-dark;
  } 

}

.selfMsg {
  margin-left: auto;
  text-align:  right;
  background-color: $my-msg-bg;
  color: $main-text-dark;
  .msgSender, .msgTimeStamp {
    color: $sub-text-dark;
  } 
}

.msgSender { 
  margin-bottom: 8px;
  font-size: 10px;
}


.message {
  font-size: 12px;
  font-weight: 500;
}

.msgTimeStamp {
  margin-top: 4px;
  font-size: 10px;
  color: $sub-text-dark
}