@import "../../sass/variable.scss";

.msgContainer {
  display: block;
  max-width: 50%;
  width:max-content;
  border-radius: $msg-box-radius;
  padding: 8px 12px;
  margin-bottom: 10px;
  &:hover{
    .reply {
      display: block;
    }
  }
}

.otherMsg {
  text-align: left;
  background-color: $other-msg-bg;
  color: $main-text-dark;
  .msgSender, .msgTimeStamp {
    color: $sub-text-dark;
  } 
  
}

.selfMsg {
  margin-left: auto;
  background-color: $my-msg-bg;
  color: $main-text-dark;

  .msgSender, .msgTimeStamp {
    color: $sub-text-dark;
  } 

  .reply {
    float: left;
  }
}

.msgSender { 
  margin-bottom: 8px;
  font-size: 10px;
}


.message {
  font-size: 12px;
  font-weight: 500;
  white-space: break-spaces;
  word-wrap: break-word;
}

.msgTimeStamp {
  margin-top: 4px;
  font-size: 10px;
  color: $sub-text-dark;
  text-align: right;
}

.reply {
  display: none;
  font-size: 10px;
  color: $sub-text-dark;
  float: right;
  cursor: pointer;
  &:hover {
    color: $main-text-dark;
  }
}