@import "../../sass/variable.scss";

.msgContainer {
  display: block;
  max-width: 50%;
  width:max-content;
  border-radius: $msg-box-radius;
  margin: 24px;
  padding: 8px 12px;
}
.otherMsg {
  text-align: left;
  background-color: $other-msg-bg;
}
.selfMsg {
  margin: 0;
  margin-left: auto;
  text-align:  right;
  background-color: $my-msg-bg;
}
.msgSender { 
  font-size: 12px;
  color: #a6a6a6;
}

.message {
  font-size: 14px;
  font-weight: 500;
  color: #4f4a4a
}

.msgTimeStamp {
  font-size: 12px;
  color: #a6a6a6
}