@import "../../sass/atoms/input.scss";

.messageTextBox {
    width: 72%;
    position: fixed;
    padding: 0 8px;
    bottom: 0;
    background-color: $color-white;
    
    &.replyBox {
        position: relative;
        margin-top: 4px;
        max-width: 50%;
        background-color: transparent;
    }
}

.chatInput {
   width: calc(100% - 18px);
}